@import 'gridstack/dist/gridstack.min.css';

@import "tailwindcss";

body {
  @apply bg-[#0b1120] text-slate-200 overflow-hidden;
}

.grid-stack-item-content {
  @apply !overflow-hidden !rounded-xl;
}

.grid-stack-placeholder > .placeholder-content {
  @apply !bg-blue-500/10 !border !border-blue-500/30 !rounded-xl;
}

.grid-stack {
  @apply h-full w-full overflow-y-auto overflow-x-hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-slate-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full hover:bg-slate-600 transition-colors;
}